<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/style.css' %}"rel="stylesheet">
    {% block head %}
    {% endblock%}
</head>

<body>
    <div class="loader"></div>
    <div class="mainContent">
        <div class="wrapper">
            <div class="menu">
                <nav>
                    <ul>
                        <li id="image">
                            <a href="{% url 'profile' %}">
                                <img src="/static/logo.png" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'profile' %}">Profil</a>
                        </li>
                        <li>
                            <a href="{% url 'landing-page' %}">Status</a>
                        </li>
                        <li>
                            <a href="{% url 'books' %}">Books</a>
                        </li>
                    </ul>
                </nav>
            </div>
        {% block body %}
        {% endblock %}
        
            <div class="footer" id="bawah">
                <p>Created by Mohammad Wildan Yanuar</p>
            </div>
        </div>
    </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/try.js' %}"></script>
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $("#tiny-button")[0].disabled=true;
    </script>
</body>

</html>