{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recomended Books</title>
{% endblock %}

{% block body %}   
    <div id="favorite">
        <h2>Total My Favorite Books : 0</h2>
    </div>
    <button class="tombol" onclick='selectedCategory("comic")'>Comic</button>
    <button class="tombol" onclick="selectedCategory('architecture')">Architecture</button>
    <button class="tombol" onclick="selectedCategory('quilting')">Quilting</button>
    <table id='booksTable'>
        <tr>
            <th id='table'>Cover</th>
            <th id='table'>Title</th>
            <th id='table'>Author</th>
            <th> Fav </th>
        </tr>
    </table>
{% endblock %}