{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
{% endblock %}

{% block body %}    
    <h1>Hello apa kabar?</h1>
    <div class="input-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" name='tombol'>Submit</button>
            {% for status in allStatus %}
                <h2>{{ status.created_date }}</h2>
                <p name="title">{{ status.title }}</p>
                <p name="description">{{ status.description }}</p>
            {% endfor %}
        </form>
    </div>
{% endblock %}