{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil</title>
{% endblock %}

{% block body %}   

        <div class="img-me">
            <img src="/static/foto.jpeg" alt="">
        </div>
        <label class="switch">
            <input type="checkbox" id="buttonSwitch">
            <span class="slider round"></span>
        </label>
        <div class="content1" id="cont1">
            <h1>Hello my name is Mohammad Wildan Yanuar</h1>
            <h2>I am a student of Computer Science University Of Indonesia</h2>
        </div>
        
        <div class="content2">
            <button class="accordion">Aktfitas</button>
                <div class="panel">
                    <ul>
                        <li>Belajar PPW</li>
                    </ul>
                </div>

            <button class="accordion">Organisasi</button>
                <div class="panel">
                    <ul>
                        <li>FUKI</li>
                    </ul>
                </div>

            <button class="accordion">Prestasi</button>
                <div class="panel">
                    <ul>
                        <li>Dapat Mengerjakann Story 8</li>
                    </ul>
                </div>

{% endblock %}