{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subcriber</title>
{% endblock %}

{% block body %}   
<table id='subscriberTable'>
    <tr>
        <th id='table'>Name</th>
        <th id='table'>Email</th>
        <th> Subcribe </th>
    </tr>
</table>
{% endblock %}