{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subcription</title>
{% endblock %}

{% block body %}   
<form method="POST" id="post-form">
    <div class="fieldWrapper" id="the_post">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <div id="result"></div> <!-- errors go here -->
    <input type="submit" value="Post" id="tiny-button">
</form>
{% endblock %}