@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 1em 0 0 0;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #cont1 {
      color: black;
      font-family: 'Times New Roman', Times, serif;
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #2473f2;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgb(226, 225, 225);
    color: #2473f2;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #2473f2;
}
.panel ul {
  padding: 0;
}
.panel li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  text-align: center;

}

.menu {
  grid-area: menu;
  font-family: 'Poppins', sans-serif;
  text-align:center;
}
nav ul{
  margin: 0;
  padding: 0em 2em 0em 2em;
  background: #0a0a0a;
  display: flex;
}
nav li {
  list-style: none;
  margin: 0em 0.5em 0em 0.5em;
  padding: 1.2em 0em 1em 0em;
  font-size: 1.5em;
}
nav li#image{
  padding: 0.5em 0em 0em 0em;
  float: left;
}
nav li img {
  height: 3em;
  padding: 0;
  top: 0.5em;
}
nav li a {
  display: block;
  float: right;
  position: relative;
  text-decoration: none;
  opacity: 0.6;
  font-weight: 700;
  transition: 0.3s;
  color: white;
}
nav li a:hover {
  opacity: 1;
}

body {
  text-align: center;
  background: black;
  color: white;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.content2 {
  margin: 2em 3em;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.mainContent {
  display: none;
}

.tombol{
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 2em;
    padding: 0em 1em 0em 1em; 
    margin: 0.5em 2em 0.5em 2em;
    transition: 2s;
    font-family: 'Poppins', sans-serif;
}
.tombol:hover{
  background-color: white;
  color: black;
}

#favorite {
  margin: 1em 0em;
  color: #ccc;
  font-family: 'Poppins', sans-serif;
}
#booksTable {
  margin: 1em 2em;
}
table {
  width: 95%;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}
th, td {
  padding: 5px;
}
th {
  text-align: center;
  background-color: white;
  color:black;
}

tr:nth-child(odd) {
  background-color: #dddddd;
  color: black;
}
tr:nth-child(even) {
  color: white;
}

.footer {
  grid-area: footer;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.fieldWrapper{
  padding: 10px;
  display: block;
  width: 95%;
}

#tiny-button{
  display: block;
  width: 20%;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #FADE36;
  padding: 0.5em 0.5em;
  text-align: center;
  font-size: 20px;
  margin: 10px 0 0 0;
  height: 60px;
  transition: 2s;
  background: none;
  color: #FADE36
}

#tiny-button:hover{
  background: rgba(250, 221, 54, 0.733);
  color: beige;
  border: none;
}

.result {
  color: white;
}